body {
    font-family: Arial, sans-serif;
    background-color: #80c677;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
/* Add a class to style images in the gallery */
.gallery-image {
    width: 600px; /* Set the desired width */
    height: auto; /* Let the height adjust to maintain aspect ratio */
}
.gallery-image-vertical {
    width: auto; /* Set the desired width */
    height: 600px; /* Let the height adjust to maintain aspect ratio */
}

.scroll-link {
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
}
